* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-size: cover;
    
}

.bg-image::before {
    content: "";
    background-image: url("almostPerfectTextureWithLeft.jpeg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.section-1 {
    position: relative;
    display: grid;
    align-items: center;
    /* justify-items: center; */
}

.section-2 {
    display: grid;
}

.section-2-header {
    
}

.big {
    height: 100vh;
}

.bg-text {
    font-size: calc(2rem + 3vw);
}

.sm-text {
    font-size: calc(0.5rem + 1vw);
}

.name {
    font-size: calc(5rem + 3vw);
    color: #e8e730;
    background: rgba(232,232,232, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}